<!DOCTYPE html>
<html>
  <head>
    <title>Recap Try </title>
    <link rel="icon" type="image/jpg" href="img.jpg">
  </head>
  <body>
    <h1>Sagar Tamang</h1>
    <p style="background-color: aqua; border-radius: 5px;">Let me know the purpose, topic, and tone you want—then I’ll craft something perfect for you. For instance, I could write a 100-word
       inspirational speech for a student preparing for exams.</p>
    <a href="html1.html" title="Click me" target="_blank">
      <button>Link to my another html</button>
    </a>
    <br><br>
    <img src="img.jpg"
    height="100"
    width="160"
    border="5">
    <br>
    <audio controls autoplay muted loop>
      <source src="ctf.mp3">
    </audio>
    <br>
    <audio controls loop>
      <source src="oth.mp3">
    </audio><br>
    <table border="3">

      <tr align="center" >
        <th>SN</th>
        <th>Name</th>
        <th>Middle name</th>
        <th>Cast</th>
        <th>Roll No</th>
      </tr>
      <tr align="center" >
        <td>1.</td>
        <td>Sagar</td>
        <td>-</td>
        <td>Tamang</td>
        <td>29</td>
      </tr>
    </table><br>
    <form action="index.php" method="post" >
     
      <lable for="username">User name:</lable>
      <input type="text" id="username" placeholder="your name " required minlength="10" maxlength="25">
     
      <br><input type="reset">
      
      <br><label>Password:</label>
      <input type="password" placeholder="Choose a password" required><br> 
      
      <input type="reset"><br>
      
      <label for="email" >Email:</label>
      <input type="email" id="email" placeholder="abc12@gmail.com" required><br>
      
      <input style="background-color: aqua; border-radius: 4px;" type="reset"><br>
      <label for="Phone">Phone no:</label>
     
      <input type="tel" id="phone" required placeholder="9834348231" pattern="[9]{1}[7-8]{1}[0-9]{8}">
      <br><label for="bday">Birth date:</label>
      <input type="date" id="bday"><br>
      <label  for="quantity" >Quantity:</label>
      <input type="number" value="2" id="quantity" min="0" max="999"><br>
      <label>Title: 
      <label for="Mr.">Mr.</label>
      <input type="radio"id="Mr." value="Mr."name="title">
      <label for="Mrs.">Mrs.</label>
      <input type="radio" id="Mrs." value="Mrs." name="title">
      <label for="Phd">Phd.</label>
      <input type="radio" id="Phd" value="Phd." name="title"><br>
      </label>
      <input type="submit" align="center"><br>
    </form>
  </body>
</html>