{% extends 'main.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moktans Room</title>
</head>

<body>
    <h1>
        Sagar Tamang
    </h1>
    <p>
        this is a room inside the home html of moktan..
    </p>
    <div>
        {% for room in rooms %}
            <div>
                <h3>{{room.id}}--{{room.name}}
                </h3>
            </div>
        {% endfor %}
    </div>
</body>

</html>
{% endblock content%}